# =================================================================
# 🐳 ROKEY7_SECOND_PROJECT - OD Microservice Environment SAMPLE
# =================================================================

# [1] 디스플레이 설정
DISPLAY=:0
XDG_RUNTIME_DIR=/run/user/1000

# [2] 네트워크 및 ROS 2 설정 (팀 공통 ID: 66)
# 🔍 확인 명령어: ip addr (또는 ifconfig)
# 🔍 예: wlp1s0 (Wi-Fi), eth0 (Ethernet), enp3s0 (Desktop LAN)
NETWORK_INTERFACE=wlp1s0
ROS_DOMAIN_ID=66

# [3] DDS(통신) 미들웨어 설정
USE_CYCLONE_DDS=true
